<link href="/css/bootstrap.css" rel="stylesheet">

<style>
	{% set css %}
	{# Custom site styles #}
	{% include "source/_includes/partial-css/styles.css" %}
	{% endset %}
	{{ css | minifyCSS | safe }}
</style>
