<header class="container">
	<div class="row align-items-center justify-content-between py-3 mb-5">
		<h1 class="col-auto mb-0"><a href="/">{{ metadata.title }}</a></h1>

		<div class="col-auto">
			<a href="/posts/" class="btn btn-primary">Posts</a>
			<a href="/about/" class="btn btn-primary">About</a>
		</div>
	</div><!-- end row -->
</header><!-- end container -->
